@using System.Globalization
@using TicketValidationSite.Models
@model TicketData
@{
    DatosEmpresa datosEmpres = new();
}

<div class="row">
    <div class="col-12 ticket-wrapper">
        <div class="ticket">
            <div class="header">
                <div class="d-flex gap-1">
                    <div>
                        <img src="~/img/caev.png" width="50" height="50" />
                    </div>
                    <div style="width: 100%;">
                        <h1>@datosEmpres.RazonSocial</h1>
                        @if(!string.IsNullOrEmpty(datosEmpres.Direccion1))
                        {
                            <div>@datosEmpres.Direccion1</div>
                        }

                        @if(!string.IsNullOrEmpty(datosEmpres.Direccion2))
                        {
                            <div>@datosEmpres.Direccion2</div>
                        }
                    </div>
                    <div>
                        <img src="~/img/veracruz-corazon.png" width="50" height="50" />
                    </div>
                </div>
                <h4 class="my-2">COMPROBANTE DE PAGO</h4>
            </div>
            
            <div class="info">
                <div>Cuenta: @Model.Cuenta</div>
            </div>
            <div class="info">
                <div>Fecha: @Model.Fecha.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="info">
                <div>Folio: @Model.Folio</div>
            </div>
            <div class="info">
                <div>Usuario: @Model.RazonSocial</div>
            </div>
            
            @* <table class="items">
                <thead>
                    <tr>
                        <th class="qty">Cant</th>
                        <th>Descripción</th>
                        <th class="price">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="qty">1</td>
                        <td>Laptop HP 15.6"</td>
                        <td class="price">$12,499.00</td>
                    </tr>
                    <tr>
                        <td class="qty">2</td>
                        <td>Mouse inalámbrico</td>
                        <td class="price">$399.00</td>
                    </tr>
                    <tr>
                        <td class="qty">1</td>
                        <td>Teclado mecánico</td>
                        <td class="price">$899.00</td>
                    </tr>
                    <tr>
                        <td class="qty">1</td>
                        <td>USB 64GB</td>
                        <td class="price">$249.00</td>
                    </tr>
                </tbody>
            </table> *@
            
            <div class="total">
                <div>TOTAL: @Model.Total.ToString("c2", new CultureInfo("es-MX"))</div>
            </div>
            
            <div class="footer">
                <p class="h6">¡Gracias por su pago!</p>
                <p class="hash-lb text-muted text-truncate pt-4">@Model.Hash</p>
                <p class="hash-lb text-muted text-truncate">@Model.Hash2</p>
            </div>
        </div>
    </div>
</div>

<style>
    .ticket-wrapper
    {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        max-width: 100%;
    }


    .ticket {
        background-color: white;
        border: 1px dashed #ccc;
        padding: 15px;
        max-width: min(340px, 95%);
    }
    .header {
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 1px dashed #000;
        padding-bottom: 10px;
    }
    .header h1 {
        margin: 0;
        font-size: 14px;
        padding-top: 8px;
        font-weight: bold;
        color: #333;
    }
    .header p {
        margin: 4px 0px;
        font-size: 9px;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .items {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0;
    }
    .items th {
        text-align: left;
        border-bottom: 1px dashed #000;
        padding: 5px 0;
    }
    .items td {
        padding: 3px 0;
    }
    .items .qty {
        text-align: center;
        width: 20px;
    }
    .items .price {
        text-align: right;
    }
    .total {
        border-top: 1px dashed #000;
        margin-top: 10px;
        padding-top: 10px;
        padding: 30px 0px 0px 0px;
        text-align: right;
        font-weight: bold;
        font-size: 14px;
    }
    .footer {
        text-align: center;
        margin-top: 15px;
        font-size: 10px;
        border-top: 1px dashed #000;
        padding-top: 10px;
    }

    .footer .hash-lb
    {
        font-size: 8px;
    }
</style>